<% provide(:title, "Editar console") %>
<h1>Editando Console</h1>

<%= render 'form', console: @console %>

<%= link_to 'Show', @console, class:"botao" %> |
<%= link_to 'Back', consoles_path, class:"botao"%>
