      <footer id="footer">
         <div class="containerfooter">
            <div class="row">
               <div class="col-xm-12 col-sm-4 col-md-4">
                  <div class="logo">
                    <a><img src="imagens/logofooter.png" alt="Logo" /> </a>
                  </div>
               </div>

               <div class="contatofooter col-xm-12 col-sm-4 col-md-4">
                  <div class="endereco">
                     <p> Rua Passo da Pátria, 156 - Instituto de Computação, Niterói, Rio de Janeiro - Brasil</p>
                  </div>
                  <p>videogames@injunior.com.br</p>

                  <p> Videogames | Todos os direitos reservados </p>
               </div>

               <div class="sociais col-xm-12 col-sm-6 col-md-4">
                  <p>Acompanhe-nos nas redes sociais</p>
                  <ul class="redessociais">
                     <li><a href="#">   <%= image_tag("facebook.png", :alt => "facebook") %></a></li>
                     <li><a href="#">  <%= image_tag("instagram.png", :alt => "instagram") %></a></li>
                     <li><a href="#">   <%= image_tag("twitter.png", :alt => "twitter") %></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </footer>
